.footer {
  background-color: #020617;;
  color: white;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-social a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-copy {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 20px;
  font-size: 14px;
}
